# SPDX-FileCopyrightText: 2014 MicroPython & CircuitPython contributors (https://github.com/adafruit/circuitpython/graphs/contributors)
#
# SPDX-License-Identifier: MIT

[submodule "lib/axtls"]
	path = lib/axtls
	url = https://github.com/pfalcon/axtls
	branch = micropython
[submodule "lib/libffi"]
	path = lib/libffi
	url = https://github.com/atgreen/libffi
[submodule "lib/berkeley-db-1.xx"]
	path = lib/berkeley-db-1.xx
	url = https://github.com/pfalcon/berkeley-db-1.xx
[submodule "lib/uzlib"]
	path = lib/uzlib
	url = https://github.com/pfalcon/uzlib
[submodule "tools/uf2"]
	path = tools/uf2
	url = https://github.com/Microsoft/uf2.git
[submodule "tools/python-semver"]
	path = tools/python-semver
	url = https://github.com/k-bx/python-semver.git
[submodule "atmel-samd/asf4"]
	path = ports/atmel-samd/asf4
	url = https://github.com/adafruit/asf4.git
	branch = circuitpython
[submodule "tools/usb_descriptor"]
	path = tools/usb_descriptor
	url = https://github.com/adafruit/usb_descriptor.git
[submodule "lib/nrfutil"]
	path = lib/nrfutil
	url = https://github.com/adafruit/nRF52_nrfutil
[submodule "ports/atmel-samd/freetouch"]
	path = ports/atmel-samd/freetouch
	url = https://github.com/adafruit/Adafruit_FreeTouch.git
[submodule "ports/atmel-samd/peripherals"]
	path = ports/atmel-samd/peripherals
	url = https://github.com/adafruit/samd-peripherals.git
[submodule "ports/nrf/nrfx"]
	path = ports/nrf/nrfx
	url = https://github.com/adafruit/nrfx.git
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
	branch = master
	fetchRecurseSubmodules = false
[submodule "tools/huffman"]
	path = tools/huffman
	url = https://github.com/tannewt/huffman.git
[submodule "tools/adabot"]
	path = tools/adabot
	url = https://github.com/adafruit/adabot.git
[submodule "tools/bitmap_font"]
	path = tools/bitmap_font
	url = https://github.com/adafruit/Adafruit_CircuitPython_BitmapFont.git
[submodule "tools/Tecate-bitmap-fonts"]
	path = tools/Tecate-bitmap-fonts
	url = https://github.com/Tecate/bitmap-fonts.git
[submodule "ports/cxd56/spresense-exported-sdk"]
	path = ports/cxd56/spresense-exported-sdk
	url = https://github.com/sonydevworld/spresense-exported-sdk.git
[submodule "lib/mp3"]
	path = lib/mp3
	url = https://github.com/adafruit/Adafruit_MP3
[submodule "ports/mimxrt10xx/sdk"]
	path = ports/mimxrt10xx/sdk
	url = https://github.com/adafruit/MIMXRT10xx_SDK
[submodule "extmod/ulab"]
	path = extmod/ulab
	url = https://github.com/adafruit/circuitpython-ulab
[submodule "ports/stm/st_driver"]
	path = ports/stm/st_driver
	url = https://github.com/hathach/st_driver.git
[submodule "ports/esp32s2/esp-idf"]
	path = ports/esp32s2/esp-idf
	url = https://github.com/adafruit/esp-idf.git
[submodule "ports/esp32s2/certificates/nina-fw"]
	path = ports/esp32s2/certificates/nina-fw
	url = https://github.com/adafruit/nina-fw.git
[submodule "ports/raspberrypi/sdk"]
	path = ports/raspberrypi/sdk
	url = https://github.com/adafruit/pico-sdk.git
[submodule "data/nvm.toml"]
	path = data/nvm.toml
	url = https://github.com/adafruit/nvm.toml.git
	branch = main
